@page "/users"
@using System.Text.RegularExpressions
@using static LabbBlazorApp.Components.OrderableTableHeader<User>
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>A list of some registered users.</p>

@if (_showUsers == null)
{
	<div class="spinner-border text-primary" role="status"></div>
}
else
{
	<h3>@AllUsers.GetUsers().Count() users</h3>

	<input @bind="_searchQuery" @oninput="UpdateUsers" class="form-control" placeholder="Search for users" />

	<table class="table table-hover">
		<thead>
			<tr>
				@foreach (var (header, keySelector) in _columns)
				{
					<th>
						<OrderableTableHeader T=User KeySelector="@keySelector" OnSort="@(s => { _sorting = s; UpdateUsers(); })">@header</OrderableTableHeader>
					</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var user in _showUsers)
			{
				<tr>
					@foreach (var (_, keySelector) in _columns)
					{
						<td>@keySelector(user)</td>
					}
				</tr>
			}
			@if (_showUsers.Count() < _showableUsers)
			{
				<tr>
					<td>
						<button class="btn btn-sm btn-secondary" @onclick="@(() => { _showMax *= 2; UpdateUsers(); })">Show more</button>
					</td>
					@for (var i = 1; i < _columns.Length; i++)
					{
						<td></td>
					}
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private record Column(string Header, Func<User, IComparable> KeySelector);

	private readonly Column[] _columns = [
		new("ID", u => u.Id),
		new("Name", u => u.Name),
		new("Email", u => u.Email),
		new("Street", u => u.Address.Street),
		new("City", u => u.Address.City),
		new("Zip code", u => u.Address.ZipCode),
		new("Company name", u => u.Company.Name),
		new("Company catch phrase", u => u.Company.CatchPhrase),
	];

	private static readonly IUserDal AllUsers = new UserGenerator();

	private IEnumerable<User>? _showUsers;
	private int _showableUsers;
	private int _showMax = 5;

	private string _searchQuery = "";
	private Sorting _sorting = new(u => u.Name, true);

	protected override async Task OnInitializedAsync()
	{
		AllUsers.Load();

		await Task.Delay(1000);
		UpdateUsers();
	}

	private void UpdateUsers()
	{
		var searchKeywords = Regex.Split(_searchQuery.ToLower(), "[ _.-]+").Where(s => s != "").ToArray();
		var doSearch = searchKeywords.Length != 0;

		var unlimitedUsers =
			(_sorting.Asc ?
				AllUsers.GetUsers().OrderBy(_sorting.KeySelector) :
				AllUsers.GetUsers().OrderByDescending(_sorting.KeySelector)).ToArray();

		if (doSearch)
			unlimitedUsers = unlimitedUsers
				.Where(u =>
					UserKeywords(u, _columns)
					.Any(s1 => searchKeywords.Any(s1.Contains))
				).ToArray();

		_showableUsers = unlimitedUsers.Count();
		_showUsers = unlimitedUsers.Take(_showMax);
		StateHasChanged();
	}

	private static IEnumerable<string> UserKeywords(User user, IEnumerable<Column> cols) =>
		cols.SelectMany(col => col.KeySelector(user).ToString()!.ToLower().Split(' '));
}
